<h1 class="animated fadeIn">{{producto.titulo}}</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 order-md-1">
            <img class="img-fluid margen" [src]="producto.img" alt="">        
        </div>
        <div class="col-md-6 order-md-2">
            <h2>{{producto.nombre}}</h2>
            <hr>
            <p class="product-description">{{producto.descripcion}}</p>
            <p class="product-data">Caracteristicas:</p>
            <pre class="style-data">{{producto.caracteristicas}}</pre>
            <p class="precio-producto">{{producto.precio}} Bs</p>

            <div class="d-grid gap-3 col-10 mx-auto">
                <button class="btn btn-primary" type="button">Me interesa</button>
                <button class="btn btn-outline-primary" type="button">Volver Inicio</button>
            </div>
        </div>
    </div>
</div>

