<app-navbar></app-navbar>
<section class="vh-100 d-flex justify-content-center align-items-center p-4" id="contact-section">
    <div class="row contact-form bg-light rounded shadow-sm p-4" id="contact-container">
        <div class="col-md-6 p-0">
            <img src="assets/True.jpeg" alt="Imagen de computadora" width="100%" height="auto" class="img-fluid">
        </div>
        <div class="col-md-6 p-5">
            <h3 class="text-center mb-4">¡Ponte en contacto con nosotros!</h3>
            <form action="" class="w-100">
                <div class="mb-3">
                    <label for="name" class="form-label">Tu nombre</label>
                    <input type="text" id="name" class="form-control" placeholder="Jose" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Tu correo</label>
                    <input type="email" id="email" class="form-control" placeholder="jose@gmail.com" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Tu mensaje</label>
                    <textarea class="form-control" id="message" rows="4" placeholder="Escribe tu mensaje aquí..." required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-100">Enviar mensaje</button>
                </div>
            </form>
        </div>
    </div>
</section>
<app-footer></app-footer>